{
  "Fakturowanie":[],
  "Import":[],
  "Ksiegowanie":[
      {
          "Name":"Optima",
          "Versions":[
              {
                  "Id":"17.12.1",
                  "Url":"https://github.com/PrzyjaznaFaktura/PrzyjaznaFakturaVersion/releases/download/PrzyjaznaFakturaModule-O-Optima-17_12_1/version.zip"
              }
          ]
      }
  ]
}
