{
  "Fakturowanie":[],
  "Import":[],
  "Ksiegowanie":[
      {
          "Name":"Optima",
          "Versions":[
              {
                  "TagName":"PrzyjaznaFakturaModule-O-Optima-18_1_2",
                  "Url":"https://github.com/PrzyjaznaFaktura/PrzyjaznaFakturaVersion/releases/download/PrzyjaznaFakturaModule-O-Optima-18_1_2/PrzyjaznaFakturaModule-O-Optima-18_1_2.zip"
              }
          ]
      }
  ]
}
