{
  "Fakturowanie": [],
  "Import": [
    {
      "Name": "Optima",
      "Versions": [
        {
          "TagName": "PrzyjaznaFakturaModule-O-Optima-18_1_11",
          "Url": "https://github.com/PrzyjaznaFaktura/PrzyjaznaFakturaVersion/releases/download/PrzyjaznaFakturaModule-O-Optima-18_1_11/PrzyjaznaFakturaModule-O-Optima-18_1_11.zip"
        }
      ]
    }
  ],
  "Ksiegowanie": [
    {
      "Name": "Optima",
      "Versions": [
        {
          "TagName": "PrzyjaznaFakturaModule-O-Optima-18_1_11",
          "Url": "https://github.com/PrzyjaznaFaktura/PrzyjaznaFakturaVersion/releases/download/PrzyjaznaFakturaModule-O-Optima-18_1_11/PrzyjaznaFakturaModule-O-Optima-18_1_11.zip"
        }
      ]
    }
  ]
}